/*
Theme Name: Openspecimen
Theme URI: http://iSheeba.com/
Author: Sheeba Abraham 
Author URI: http://iSheeba.com/
Description: One Pager Theme 
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: openspecimen
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Openspecimen is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Roboto', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;

}

h1,
h2 {
	text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	clear: both;
	font-weight: 600;
}
title { 
	font-family: 'Roboto', sans-serif;
}

p {
 
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #147B9A;
	padding: 3px;
}

a:visited {
	color: #21759B;
}

a:hover,
a:focus,
a:active {
	color: #68CEF6;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	    float: left;
    width: 66%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
	float: right;
    width: 100%;
}

.main-navigation li {
	float: left;
	position: relative;
	    text-transform: uppercase;
    

}

.main-navigation li:after {
	content:"|";
	color: #f2f2f2;
	padding: 0 20px;
}

.main-navigation li:last-child:after { 
	content: none; 
	padding:0;
} 

.main-navigation a {
	display: inline-block;
	text-decoration: none;
}

 

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
	color: #68CEF6;
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.body {
	background: #FEFEF4;
	width: 100%;
}


.site-header {
	 
	padding-top: 20px;
}

.site-branding {
	width: 33%;
	 float: left;
	position:relative;
}
.site-logo {
    position:absolute;
    left:35px;
    top:0px;
    margin-top: -10px;
    height:100%
}
.site-name {
    position:absolute;
    left:100px;
    top:0px;
}

.site-desc {
    position:absolute;
	top: 20px;
    left:100px;
    bottom:0px;
}
 
/*
before footer : #21BDBA (Green)
Footer : #494748 (Dark Grey )
background : #FEFEF4 (Creme)

Features Blue : #016F94
Features blue action : #26A9DF;
Platform blue : #147B9A
platform light blue : #68CEF6
platform before footer : #034659


white repl - light grey : #f2f2f2;
pricing - bg : #F3FBFE

*/

.site-name h1 {
	margin: 0;
	padding: 0;
	font-size: 25px;
	line-height: 25px;
	font-weight: normal;
}

.site-desc p {
    font-size: 12px;
    color:#68CEF6;
}

.site-logo img {
	max-width: 100px;
	max-height: 100px;
 
}

#masthead  {
	background: #016F94;
}


#masthead
{	
	height: 100px;
}


#masthead a {
	font-size: 15px;
	color:#f2f2f2;
}
#masthead p{
	margin: 0;
	padding:0;
} 

.site-header { 
	position: relative; 
}
.site-header hgroup { 
	position: absolute;
	 top: 30px; 
	 left: 2%; 
}

.header-right-menu {
	 width: 50%;
	 margin-left:50%;
	 min-height: 30px;

 }
.header-right-menu li {
	list-style: none;
	display: inline-block;
}

.display_current_version {
 	width: 40%;
	color:  #f2f2f2;
	font-size: 13px;
	float:left;
	padding-top: 3px;
	text-align: right;
	margin:auto;
}
.header_social_menu {
 	position: relative;
	width: 47%;
	max-height: 30px;
	color:  #f2f2f2;
	margin:auto;
}

.header_social_area ul li   .genericon-facebook:before,
.site-footer   ul li .genericon-facebook:before{
    content: "\f204";
}
 
.header_social_menu ul {
     width: 100%;
     margin:0;
     padding: 0;
}
.header_social_menu li {
     padding-left: 10px;
}

.header_social_menu li a,
.site-footer  .widget_wpcom_social_media_icons_widget a{
	border-color: #f2f2f2;
    border-radius: 12px;
    border: 2px solid;
}

.site-content  {
	 padding:0 4%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.content-area {
	float: left;
	width: 70%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.os_two_col img {
	
}

 
/*********************************************************
		Settings for Categories Menu
**********************************************************/

.menu-categories-container {
	width:100%;
 	margin: 0;
	padding: 30px 10px;

}
.blogwrapper {
	border:2px solid #016F94;
	clear: left;
	margin: 0;
	padding: 10px;
	-webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.menu-categories-container ul {
	width:100%;
	float: left;
	margin: 0;
	padding: 0;
}

#menu-categories  li{
 
	float: left;
	border: 1px #016F94);
	list-style: none;
	 
}
#menu-categories  li a{
	color:#f2f2f2;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	display: block;
    padding: 5px 10px 4px;
    background: #016F94  repeat-x left bottom;
    margin-right: 2px;
 
    border-top: 1px solid #fdfdfd;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

#menu-categories  .current-menu-item > a
{
	color:#68CEF6;
}


.entry-header h2 {
	margin: 0;
}
.posted-on {
	font-size: 12px;
	padding-left: 20px;
	text-align: right;
	background:#d8d8d8;
	float: right;
	font-weight: bold;
}

.entry-header {
	background: #d8d8d8;
}
.post .entry-content {
	margin: 0;
	padding:10px;
	padding-top: 25px;
	background-color: #f2f2f2;
}

.post .entry-content p {
	padding:0;
	margin: 0px;
	margin-bottom: 10px;
}

.blogwrapper article {
	margin-bottom: 20px;
	border-bottom: 1px solid #016F94;
}

.blogwrapper article:last-child {
 
	border-bottom: none;
}
/*********************************************************
		Display for Full Page Template
**********************************************************/

.page-template-page-fullwidth #masthead {
	background: none;
}
.page-template-page-fullwidth .site-content,
.page-template-page-fullwidth .content-area {
	width: 100%;
	padding: 0; 
}

.page-template-page-fullwidth .content-area {
	box-shadow: none;
}
 

.fullwidth .panel-grid:first-child > div{
	margin-top: -100px;
	padding-top: 100px;
}
.page-template-page-fullwidth .panel-grid-cell {
    width: 80%;
    margin: auto;
}

.page-template-page-fullwidth .entry-content {
	margin:0;
}

.os_two_col {
	float:left;
	width:45%;
	text-align: justify;
}

.border_div {
	padding: 10px;
}


article  > .entry-content {
	width: 100%;
	 background:#f2f2f2;
}
 
 .entry-content p {
 	padding:0 10px;
 }

#content .entry-content .panel-grid {
 	margin-bottom: 0px; 
 }
  
/*********************************************************
		Display for Feature Module
**********************************************************/


.features_callforaction {
	font-size: 1em;
	padding: 1em 2em;
	background: #3f3f3f;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#262626),color-stop(1,#3f3f3f));
 }



.page-template-page-fullwidth .os_two_col .entry-content {
	 padding: 10px;
}

.feature_image {
	width:15%;
	padding-right: 10px;
	float: left;
}

.feature_image img {
	max-width: 50px;
	max-height: 50px;
}

.feature_display a {
	text-align: left;
	color: black;
	font-size: 15px;

}

.feature_title,
.feature_desc {
	width: 70%;
	padding-left: 15px;
	float: left;
}

.feature_desc {
	overflow: hidden; 
	text-overflow: ellipsis;  
}

.feature_desc p,
.feature_title h2 {
	margin: 0;
}

.feature_desc p  {
	font-size: 14px;
}

.feature_title h2{
	text-transform: capitalize;
}

.page .feature  .fullwidth article:nth-child(odd) > .feature_display {
	border-right:  1px solid rgba(0, 0, 0, 0.15);
	border-bottom:  1px solid rgba(0, 0, 0, 0.15);
}

.page .feature .fullwidth article:nth-child(even) > .feature_display {
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom:  1px solid rgba(0, 0, 0, 0.15);
}

.feature_display {
	max-height: 180px;
	overflow: hidden;
}
.page .feature .highlighted  {
	background-image: url("images/pattern-triangle.jpg");
}

.page .feature .highlighted .feature_image img ,
.front-feature-display  .feature_image  img,
.front-feature-display .highlighted  .feature_image  img{
	
}
.page .feature .highlighted .feature_desc {
	color:white;
	 
	
}
.page .feature .highlighted .feature_title {
	color:white;
}

.page .front-feature-display .highlighted  {
	background-image: none;
	box-shadow: 0 8px 16px 0 #20B4B6,0 6px 20px 0 black;
	box-shadow: 0 8px 16px 0 #1d4158,0 6px 20px 0 white;
}
.front-feature-display   .feature_title  {
	padding: 0;
	margin: 0;
	color:blue;
}
.front-feature-display  .feature_image   {
	width: 100%;
	margin:auto;
	text-align: center;
}
.front-feature-display  .feature_title {
	width: 100%;
}
.front-feature-display  .feature_title h2{
	width: 100%;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 15px
}
.front-feature-display  .feature_desc {
	width: 100%;
	text-align: center;
	color:white;
}



.front-feature-display article:nth-child(even) > .feature_display,
.front-feature-display article:nth-child(odd) > .feature_display
{
	border:none;
	height: 100%;
}



.front-feature-display  > article.os_two_col {
	width:24%;
}


.front-feature-display  .os_two_col .entry-content {
	padding: 10px 10px;
}


.front-green-button .origin-widget.origin-widget-button-simple-green a{
	background:#3BC578;
	color: white;
	text-shadow:none;
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}

.front-transparent-button .origin-widget.origin-widget-button-simple-blue a{
	background:none;
	color: white;
	text-shadow:none;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 2px solid white;
}

.green-button {
	display: inline-block;
	padding: 10px 45px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #52740A;
	font-size: 0.875em;
	font-family: inherit;
	font-weight: 500;
	text-decoration: none;
	/* text-shadow: 0 1px 0 #F0FFA6; */
	text-align: center;
}

.front-case-studies p  a {
	
	padding: 10px 45px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 0.875em;
	font-family: inherit;
	font-weight: 500;
	text-decoration: none;
	/* text-shadow: 0 1px 0 #F0FFA6; */
	text-align: center;
	background:#3BC578;
	color: white;
	text-shadow:none;
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}

.front-case-studies  .sow-features-feature {
	padding: 20px 10px;
}

.front-case-studies  .highlighted {
	border:1px solid #00465A;
/*	background:  #20B4B6 url(images/pattern.png) repeat center center !important;
color:white;*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	
}

.front-case-studies  .highlighted .textwidget{
	 
	 
}

.front-position-button .origin-widget.origin-widget-button-simple-blue  a {
	background:#00465A;
	color: white;
	text-shadow:none;
	box-shadow:none;
	border: none;
}


/*********************************************************
		Display for Pricing Module
**********************************************************/


.price_display   {
	width:28%;
	text-align:center;
	float: left;
	margin: 35px 25px;	
	border:1px solid black;
}

.price-top, .price-bottom {
	width:100%;
}

.price-top {
	font-family: serif;
	font-size: 15px;
	padding:8% 10% 10% 10%;
	height: 230px;	
	border-bottom:2px solid black;
}

.price-title {
	font-size: 40px;
	font-weight: bold;
}
 

.price-border {
	background: url('images/splborder.png') ;
	background-repeat: no-repeat;
    width: 100px;
    height: 15px;
    margin: auto;
}

.price-bottom {
	height: 500px;	
	text-align: center;
	padding:8% 10% 20% 10%;
}
.price-label {
	font-weight: bold;
	font-size: 15px;
	font-family: serif;
}

.price-pricevalue {
	font-weight: bold;
	font-size: 40px;
	font-family: serif;
}

.price-features {
	padding: 8% 0%;
	font-size: 13px;
	height: 260px;	
}

.price-features div{
	padding-top: 5px;
}

.price_display a {
	background: #39C678;
	padding: 10px 40px;
	color: black;
	display: inline-block;
    text-transform: uppercase;
}

.price .highlighted .price_title{
	color: white;
}

.price .highlighted .price-top{
	border-bottom:2px solid black;
}

.price:nth-child(odd) .highlighted .price-top {
	background-image: url("images/silver-bg.jpg");
}

.price:nth-child(even) .highlighted .price-top{
	background-image: url("images/gold-bg.jpg");
}

.price .highlighted .price-bottom {
	background:#FEFEF4;
}

.price .highlighted {
	border:4px solid black;
}

	

/*--------------------------------------------------------------
## Widget /Sidebar/Footers
--------------------------------------------------------------*/
	
.widget-area {
	float: right;
	width: 29.5%;
	padding: 20px ;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

#secondary aside {
	border:2px solid #016F94;
	-webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px; 
    background:#f2f2f2;
    padding:1px 10px;
}

.widget-area ul {
	margin: 0;
	padding: 0;
}

.widget-area li {
	list-style: none;
}

.widget-title   {
	font-size: 15px;
	color:white;
	text-align: center;
}
#secondary aside .widget-title {
	background:#147B9A;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.site-footer
 {
	color: #E9E8E4;
	background: #494748;
	width: 100%;
	padding: 2% 5%;
	font-size: 10px;

}
.site-footer a {
	color: #E9E8E4;
	font-size: 10px;
}

.site-footer .genericon  {
	font-size: 15px;
}
.site-footer li {
	list-style: none;
}
#footer-sidebar {
	display:block;
	 
}

#footer-sidebar1,
#footer-sidebar2,
#footer-sidebar3,
#footer-sidebar4 {
	width: 24%;
	float: left;
 	padding: 5px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 ;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

#page {
   
    margin-left: auto;
    margin-right: auto;
}

/******************************************
	For Demo form
******************************************/
.entry-content .wpcf7 {
    margin: 25px;
    padding: 0;
}

.wpcf7 .sform {
	width: 80%;
	margin:auto;
	font-weight: bold;
	border: 2px solid #147B9A;
	border-radius: 9px;
	padding: 20px;
}

.wpcf7 .os_two_col {
	width: 48%;
    margin: auto ;

	padding-bottom: 20px;
}
.wpcf7 .os_two_col {
	font-weight: bold;
	display: inline-block;
}
.wpcf7  .os_two_col:nth-child(even) {
	padding-left: 10px;
	 
}
.wpcf7  .os_two_col:nth-child(odd) {
	padding-left: 10px;
 
}
.wpcf7  .os_two_col span {
 
}

.wpcf7 .os_lbl {

	display: block;
}

.wpcf7 .os_one-col {
 	clear:both;	
	
}

.wpcf7 .wpcf7-list-item {
	display: block;
	font-weight: normal;
}
.wpcf7 input {
	  
}
.wpcf7 input.wpcf7-text { width: 250px; }


.wpcf7  input,
.wpcf7  textarea,
.wpcf7  .os_others
 {
 font-weight: normal;
	border:1px solid #000;
	font-size :14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
 	color: #bbb;
	padding: 5px;
}

.wpcf7 input:active,
.wpcf7  input:hover,
.wpcf7  input:focus,
.wpcf7  textarea:active,
.wpcf7  textarea:hover,
.wpcf7  textarea:focus,
.wpcf7  .os_others:active,
.wpcf7  .os_others:hover,
.wpcf7  .os_others:focus
 {
	color: black;
	font-weight: normal;
}
.wpcf7 .os_others {
	display: inline-block;
} 

.wpcf7  input[type="submit"]{
	   padding: 10px 50px;	
	color:#fff;
	background: #147B9A;
	border: 1px solid #fff;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.wpcf7 .os_two_col input[type="text"]:focus, .wpcf7 .os_two_col textarea:focus{
	 
}
.wpcf7   input[type="submit"]:hover{
	background:#fff;
	color:#222;
	border: 1px solid #222;
}

div.wpcf7-validation-errors {
    border: 2px solid #cc0000;
    color:#ff4c4c;
}



/******************************************
	Responsive settings 
******************************************/

@media screen and (max-width: 850px) {
	body #primary, body #secondary {
	    width: auto;
	    float: none;

	}
} 




