#set ( $url = "$appUrl/ui-app/#/carts/${cart.id}/pick-lists/${pickList.id}")

<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:separate">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:14px;line-height:20px">
          <tbody>
            <tr>
              <td style="padding:0px;border-collapse:collapse;padding:0px;padding-bottom:10px">
                <p style="margin:10px 0 0 0">
                  Hello User,
                  <br><br>
                  Your pick list <a href="$url" target="_blank">$pickList.name (cart: $cartName)</a> was last accessed on <b>$lastAccessTime</b>. As part of regular cleanup, this pick list will be deleted on <b>$deleteDate</b>.
                  <br><br>
                  To keep it, update the pick list by adding or removing specimens from it before the deletion date.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="height:5px;line-height:5px;">&nbsp;</td>
    </tr>
    <tr>
      <td>
        #parse( $footer )
      </td>
    </tr>
  </tbody>
</table>
