<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
  http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">

  <changeSet author="vpawar" id="Enable adding of specimen external IDs during shipment receive">
    <sql>
      call add_cfg_prop(
        'administrative', 'add_spmn_ext_ids',
        'add_spmn_ext_ids', 'add_spmn_ext_ids_desc',
        'BOOLEAN', ''
      );
    </sql>
  </changeSet>

  <changeSet author="vpawar" id="Default name for external IDs added during shipment receive">
    <sql>
      call add_cfg_prop(
        'administrative', 'def_ext_id_name',
        'def_ext_id_name', 'def_ext_id_name_desc',
        'STRING', ''
      );
    </sql>
  </changeSet>

  <changeSet author="vpawar" id="Specimen carts digest job" dbms="mysql">
    <sql>
      select identifier into @userId from catissue_user where login_name = '$system';

      insert into os_scheduled_jobs
        (identifier, name, created_by, start_date, end_date, scheduled_minute, scheduled_hour, scheduled_day_of_week,
         scheduled_day_of_month, activity_status, repeat_schedule, type, command,
         task_impl_fqn, rt_args_provided, rt_args_help_text)
      values
        (default, 'Specimen carts digest', @userId, now(), null, 45, 23, null,
         null, 'Active', 'DAILY', 'INTERNAL', null,
         'com.krishagni.catissueplus.core.biospecimen.services.impl.CartSpecimensDigestTask', 0, null);
    </sql>
  </changeSet>

  <changeSet author="vpawar" id="Specimen carts digest job" dbms="oracle">
    <sql endDelimiter="//">
      declare
        userId number;
      begin
        select identifier into userId from catissue_user where login_name like '$system';

        insert into os_scheduled_jobs
          (identifier, name, created_by, start_date, end_date, scheduled_minute, scheduled_hour, scheduled_day_of_week,
           scheduled_day_of_month, activity_status, repeat_schedule, type, command,
           task_impl_fqn, rt_args_provided, rt_args_help_text)
        values
          (OS_SCHEDULED_JOBS_SEQ.nextVal, 'Specimen carts digest', userId, SYSDATE, null, 45, 23, null,
           null, 'Active', 'DAILY', 'INTERNAL', null,
           'com.krishagni.catissueplus.core.biospecimen.services.impl.CartSpecimensDigestTask', 0, null);
      end;
      //
    </sql>
  </changeSet>

  <changeSet author="vpawar" id="Scheduled job to refresh CPR specimen stats" dbms="mysql">
    <sql>
      select identifier into @userId from catissue_user where login_name = '$system';

      insert into os_scheduled_jobs
        (identifier, name, created_by, start_date, end_date, scheduled_minute, scheduled_hour, scheduled_day_of_week,
        scheduled_day_of_month, activity_status, repeat_schedule, type, command,
        task_impl_fqn, rt_args_provided, rt_args_help_text)
      values
        (default, 'Refresh participant specimen stats', @userId, now(), null, 55, 23, null,
        null, 'Active', 'DAILY', 'INTERNAL', null,
        'com.krishagni.catissueplus.core.biospecimen.services.impl.RefreshCprSpecimenStats', 0, null);
    </sql>
  </changeSet>

  <changeSet author="vpawar" id="Scheduled job to refresh CPR specimen stats" dbms="oracle">
    <sql endDelimiter="//">
      declare
        userId number;
      begin
        select identifier into userId from catissue_user where login_name like '$system';

        insert into os_scheduled_jobs
          (identifier, name, created_by, start_date, end_date, scheduled_minute, scheduled_hour, scheduled_day_of_week,
          scheduled_day_of_month, activity_status, repeat_schedule, type, command,
          task_impl_fqn, rt_args_provided, rt_args_help_text)
        values
          (OS_SCHEDULED_JOBS_SEQ.nextVal, 'Refresh participant specimen stats', userId, SYSDATE, null, 55, 23, null,
          null, 'Active', 'DAILY', 'INTERNAL', null,
          'com.krishagni.catissueplus.core.biospecimen.services.impl.RefreshCprSpecimenStats', 0, null);
      end;
      //
    </sql>
  </changeSet>
</databaseChangeLog>
